@model WebAppHectorMite.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="IdFactura" class="control-label"></label>
                <input asp-for="IdFactura" class="form-control" />
                <span asp-validation-for="IdFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establecimiento" class="control-label"></label>
                <input asp-for="Establecimiento" class="form-control" />
                <span asp-validation-for="Establecimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntoEmision" class="control-label"></label>
                <input asp-for="PuntoEmision" class="form-control" />
                <span asp-validation-for="PuntoEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFactura" class="control-label"></label>
                <input asp-for="NumeroFactura" class="form-control" />
                <span asp-validation-for="NumeroFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="date" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <div>
                    <select id="ddlCliente">
                        @foreach (var item in ViewBag.clientes)
                        {
                            @if(string.IsNullOrEmpty(item.Identificacion))
                            {
                                <option value="@item.IdCliente">@item.Nombre</option>
                            }
                            else
                            {
                                <option value="@item.IdCliente">@item.Identificacion - @item.Nombre</option>
                            }
                        }
                    </select>
                </div>
            </div>
            
            <div>
                <table class="table" id="tblDetalles">
                    <thead>
                        <tr>
                            <th style ="display: none;">
                                IdProducto
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                &nbsp;Cantidad&nbsp;
                            </th>
                            <th>
                                IVA
                            </th>
                            <th>
                                Subtotal
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td style="display: none;">
                                <label id="lblIdProducto">0</label>
                            </td>
                            <td>
                                <select id="ddlProducto">
                                    @foreach (var item in ViewBag.productos)
                                    {
                                        <option value="@item.IdProducto" precio="@item.Precio">@item.Descripcion</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <label id="lblPrecio">$0.00</label>
                            </td>
                            <td>
                                <input type="button" id="btnUp" value="+" />
                                <label id="lblCantidad">1</label>
                                <input type="button" id="btnDown" value="-" />
                            </td>
                            <td>
                                <label id="lblIVA">$0.00</label>
                            </td>
                            <td>
                                <label id="lblSubtotal">$0.00</label>
                            </td>
                            <td>
                                <input type="button" id="btnAdd" value="Add" />
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#Create").click(function () {
                            var detalles = new Array();
                            $("#tblDetalles TBODY TR").each(function () {
                                var row = $(this);

                                var detalle = {};
                                detalle.IdProducto = Number(row.find("TD").eq(0).html());
                                detalle.Cantidad = Number(row.find("TD").eq(3).html());
                                detalle.Precio = Number(row.find("TD").eq(2).html().replace(/[^0-9\.-]+/g, ""));
                                detalle.IVA = Number(row.find("TD").eq(4).html().replace(/[^0-9\.-]+/g, ""));
                                detalle.Subtotal = Number(row.find("TD").eq(5).html().replace(/[^0-9\.-]+/g, ""));

                                detalles.push(detalle);
                            });

                            var factura = {
                                Establecimiento: $("#Establecimiento").val(),
                                PuntoEmision: $("#PuntoEmision").val(),
                                NumeroFactura: $("#NumeroFactura").val(),
                                Fecha: $("#Fecha").val(),
                                IdCliente: Number($("#ddlCliente option:selected").val()),
                                FacturaDetalle: detalles,
                                Subtotal: Number($("#Subtotal").val().replace(/[^0-9\.-]+/g, "")),
                                TotalIVA: Number($("#TotalIVA").val().replace(/[^0-9\.-]+/g, "")),
                                Total: Number($("#Total").val().replace(/[^0-9\.-]+/g, ""))
                            };

                            $.ajax({
                                type: "POST",
                                url: "/Factura/CreateFactura",
                                data: JSON.stringify(factura),
                                contentType: "application/json; charset=utf-8",
                                success: function (response) {
                                    window.location.href = response.redirectToUrl;
                                }
                            });
                        });
                    });

                    $("body").on("change", "#ddlProducto", function () {
                        var lblPrecio = $(this).closest("tr").find("#lblPrecio");
                        var lblCantidad = $(this).closest("tr").find("#lblCantidad");
                        var lblIVA = $(this).closest("tr").find("#lblIVA");
                        var lblSubtotal = $(this).closest("tr").find("#lblSubtotal");

                        var precio = Number($(this).find(":selected").attr('precio'));
                        var cantidad = Number(lblCantidad.text());
                        var iva = (precio * cantidad) * 0.12;
                        var subtotal = precio + iva;

                        lblPrecio.html(precio.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblIVA.html(iva.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblSubtotal.html(subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    });

                    $("body").on("click", "#btnUp", function () {
                        var lblCantidad = $(this).closest("tr").find("#lblCantidad");
                        var cantidad = Number(lblCantidad.text()) + 1;
                        lblCantidad.html(cantidad);

                        var lblPrecio = $(this).closest("tr").find("#lblPrecio");
                        var lblIVA = $(this).closest("tr").find("#lblIVA");
                        var lblSubtotal = $(this).closest("tr").find("#lblSubtotal");
                        
                        var precio = Number(lblPrecio.text().replace(/[^0-9\.-]+/g, ""));
                        var iva = (precio * cantidad) * 0.12;
                        var subtotal = precio + iva;

                        lblIVA.html(iva.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblSubtotal.html(subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    });

                    $("body").on("click", "#btnDown", function () {
                        var lblCantidad = $(this).closest("tr").find("#lblCantidad");
                        var cantidad = Number(lblCantidad.text()) - (Number(lblCantidad.text()) > 1 ? 1 : 0);
                        lblCantidad.html(cantidad);

                        var lblPrecio = $(this).closest("tr").find("#lblPrecio");
                        var lblIVA = $(this).closest("tr").find("#lblIVA");
                        var lblSubtotal = $(this).closest("tr").find("#lblSubtotal");

                        var precio = Number(lblPrecio.text().replace(/[^0-9\.-]+/g, ""));
                        var iva = (precio * cantidad) * 0.12;
                        var subtotal = precio + iva;

                        lblIVA.html(iva.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblSubtotal.html(subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    });

                    $("body").on("click", "#btnAdd", function () {
                        var ddlProducto = $("#ddlProducto option:selected");
                        var lblPrecio = $("#lblPrecio");
                        var lblCantidad = $("#lblCantidad");
                        var lblIVA = $("#lblIVA");
                        var lblSubtotal = $("#lblSubtotal");

                        var tBody = $("#tblDetalles > TBODY")[0];

                        var row = tBody.insertRow(-1);

                        var cell = $(row.insertCell(-1));
                        cell.html(ddlProducto.val());
                        cell.hide();

                        cell = $(row.insertCell(-1));
                        cell.html(ddlProducto.text());

                        cell = $(row.insertCell(-1));
                        cell.html(lblPrecio.text());

                        cell = $(row.insertCell(-1));
                        cell.html(lblCantidad.text());

                        cell = $(row.insertCell(-1));
                        cell.html(lblIVA.text());

                        cell = $(row.insertCell(-1));
                        cell.html(lblSubtotal.text());

                        cell = $(row.insertCell(-1));
                        var btnRemove = $("<input />");
                        btnRemove.attr("type", "button");
                        btnRemove.attr("onclick", "Remove(this);");
                        btnRemove.val("Remove");
                        cell.append(btnRemove);

                        $("#ddlProducto").prop('selectedIndex', 0);
                        lblPrecio.text((0).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblCantidad.text(1);
                        lblIVA.text((0).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        lblSubtotal.text((0).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

                        var subtotal = 0;
                        var iva = 0;
                        $("#tblDetalles TBODY TR").each(function () {
                            var row = $(this);
                            
                            var precio = Number(row.find("TD").eq(2).html().replace(/[^0-9\.-]+/g, ""));
                            var cantidad = Number(row.find("TD").eq(3).html());

                            subtotal = subtotal + (precio * cantidad);
                            iva = iva + Number(row.find("TD").eq(4).html().replace(/[^0-9\.-]+/g, ""));
                        });
                        
                        $("#Subtotal").val(subtotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        $("#TotalIVA").val(iva.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        $("#Total").val((subtotal + iva).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    });

                    function Remove(button) {
                        var row = $(button).closest("TR");
                        if (confirm("¿Seguro desea eliminar la fila seleccionada?")) {
                            var table = $("#tblDetalles")[0];

                            table.deleteRow(row[0].rowIndex);
                        }
                    }
                </script>
            </div>

            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" disabled />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalIVA" class="control-label"></label>
                <input asp-for="TotalIVA" class="form-control" disabled />
                <span asp-validation-for="TotalIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" disabled />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="Create" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
